<div class="col-xs-12 comment-indent">
    <p>content: {{this.content}}</p>
    <p class="text-right">{{this.author.username}}</p>
    <a href="/posts/{{this.postId}}/comments/{{this._id}}/replies/new">Reply</a>
    {{#each this.comments}}
        {{> comment this}}
    {{/each}}
</div>
