<fieldset>
  <div class="row">
    <div class="col-sm-4">
      <form action="/sign-up" method="post">
        <h2>Sign Up! Join Us! :)</h2>

        <!-- USERNAME -->
        <div class="form-group">
          <label for="username">Username</label><br>
          <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <label for="user-pw">Password</label><br>
          <input type="password" name="password" class="form-control" id="user-pw" placeholder="Password">
        </div>

        <!-- BUTTON -->
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Go!</button>
        </div>

      </form>
    </div>
  </div>
</fieldset>
